%h1 Edit Existing Post

= form_tag user_blog_path(@blog.user_id, @blog.id), :method => :put do
  .control-group
    = label :blog, :title, 'Title', :class => 'control-label'
    .controls
      = text_field :blog, :title, :class => 'form-control'
    = error_span(@blog[:title]) 
  %br
  .control-group
    = label :blog, :content, 'Content', :class => 'control-label'
    .controls
      = text_area :blog, :content, :rows => 12, :class => 'form-control'
    = error_span(@blog[:content]) 
  %br

    = submit_tag 'Update'

    = link_to 'Cancel', user_blog_path(@blog.user_id, @blog.id), :class => 'btn btn-default btn-link'
