.page-header
  %h1= 'Blog Posts'
    
%table{ :class => "table table-striped"}
  %thead
    %tr
      %th= 'Title'
      %th= 'Date Posted'
      
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= link_to blog.title, user_blog_path(blog.user_id, blog.id)
        %td= blog.created_at
        
%br
%br
  
- if !current_user_auth.nil? and current_user_auth == User.find(@user_id).user_auth
  = link_to 'New Blog', new_user_blog_path(@user_id), :class => 'btn btn-primary'