.container.profile
    .page-header
        .pull-right
            - if !current_user_auth.nil? and current_user_auth == User.find(@user_id).user_auth
                = link_to 'Edit', edit_user_blog_path(@user_id, @blog.id),  :class => 'btn btn-default'
                = link_to 'Delete', user_blog_path(@user_id, @blog.id), :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Blog post will be permanently deleted'}
        %h1= @blog.title
        
    .container
        %p= @blog.content

%br
%br

.container
    %h4 Comments
    - if @blog.comments.length == 0
        %p Be the first one to leave a comment!
    - else
        - @blog.comments.each do |comment|
            .panel.panel-default
                .panel-heading
                    %strong=User.find(comment.user_id).name
                    said: 
                    .pull-right
                        %strong=comment.created_at.strftime("%m/%d/%Y %H:%M:%S")
                .panel-body
                    - if !current_user_auth.nil? and current_user_auth == User.find(@user_id).user_auth
                        .row
                            .pull-right{:style => "margin-right: 10px"}
                                =link_to 'Reply', new_comment_reply_path(comment.id), :class => 'btn-link'
                    =comment.content
%br
%br
.container
  
    = form_tag blog_comments_path(@blog.id) do
    
        .control-group
            = label :comment, :content, 'Leave a Comment', :class => 'control-label'
        .controls
            = text_area :comment, :content, :rows => 5, :class => 'form-control'
     
        %br
        = submit_tag 'Submit', :class => 'btn btn-success'
