.page-header
    %h1= @blog.title
    
.container
    %p= @blog.content

%br
%br

= link_to 'Back', user_blogs_path(@blog.user_id, @blog.id), :class => 'btn btn-default'
= link_to 'Edit', edit_user_blog_path(@blog.user_id, @blog.id),  :class => 'btn btn-default'
= link_to 'Delete', user_blog_path(@blog.user_id, @blog.id), :class => 'btn btn-default', :method => :delete, :data => { :confirm => 'Blog post will be permanently deleted'}
