.container
  .row
    = form_for @user, html: { class: "form form-horizontal user col-md-6 col-md-offset-3" } do |f|
      .form-group
        = f.label :image, class: 'control-label'
        .controls
          = f.file_field :image, class: 'form-control', required: false
        = error_span(@user[:image])
      .form-group
        = f.label :name, class: 'control-label'
        .controls
          = f.text_field :name, class: 'form-control', required: true
        = error_span(@user[:name])
      .form-group
        = f.label :state, class: 'control-label'
        .controls
          = f.select :state, options_for_select(us_states), {:prompt=>"-- UNITED STATES --"}, {:class=> 'form-control', :required=> true}
        = error_span(@user[:state])
      .form-group
        = f.label :city, class: 'control-label'
        .controls
          = f.text_field :city, class: 'form-control', required: true
        = error_span(@user[:city])
      .form-group
        = f.label :profession, class: 'control-label'
        .controls
          = f.select :profession, options_for_select(profession_list), {:prompt=>"--Select Profession--"}, {:class=> 'form-control', :required=> true}
        = error_span(@user[:profession])
      .form-group
        = f.label :description, class: 'control-label'
        .controls
          = f.text_area :description, :rows => 5, class: 'form-control', :placeholder => 'Short summary about yourself...', required: true
        = error_span(@user[:description])
      
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
