- model_class = User

.jumbotron
  .container
    %h1 We Are Women In CS!
    %p A website for women in computer science

.container
  .row
    .col-md-2
      %h5.pull-right Filter by 
    .col-md-2
      =select(:state, :filter, User.pluck('DISTINCT state') {|p| [ p ] },
                  {:include_blank => "--State--"},
                  { :onchange => 'filterOn()', :class => 'form-control'})
    .col-md-2
      =select(:profession, :filter, User.pluck('DISTINCT profession') {|p| [ p ] },
                  {:include_blank => "--Profession--"},
                  { :onchange => 'filterOn()', :class => 'form-control'})
%hr
.container
  .row
    - @users.each do |user|
      .col-md-6{:class => "#{user.state} #{user.profession} UserDiv"}
        .col-md-4
          .thumbnail
            = image_tag user.image.url(:medium)
        .col-md-8
          .caption
            %h3= user.name
          %p= user.description
          = button_to 'View details', user_path(user), :class => 'btn btn-primary', :method => "get"
          %br
          %br    
    
:javascript
  function filterOn() {
    var state_obj = $("#state_filter");
    var prof_obj = $("#profession_filter");
    var selected_state = state_obj.val();
    var selected_prof = prof_obj.val();
    if ((selected_state == "") && (selected_prof == "")) {
      $(".UserDiv").show();
    } else if (selected_state == "") {
      $(".UserDiv").hide();
      $('.' + selected_prof).show();
    } else if (selected_prof == "") {
      $(".UserDiv").hide();
      $('.' + selected_state).show();
    } else {
      $(".UserDiv").hide();
      $('.' + selected_state + '.' + selected_prof).show();
    }
  }
