- model_class = User
.container
  %br
  %br
  .row
    .col-md-4
      = image_tag @user.image.url(:medium)
    .col-md-8
      %p
        %strong= model_class.human_attribute_name(:name) + ':'
        = @user.name
      %p
        %strong= 'Location' + ':'
        = @user.city.to_s + ', ' + @user.state.to_s
      %p
        %strong= model_class.human_attribute_name(:profession) + ':'
        = @user.profession
  .row
    .col-md-12
      %p
        %strong= model_class.human_attribute_name(:description) + ':'
        %br
        = @user.description
        
  
= link_to 'Blog Posts', user_blogs_path(@user), :class => 'btn btn-primary'
  
- if @user.user_auth == current_user_auth
  = link_to 'Edit record', edit_user_path, :method => :get, :class => "btn btn-default"
  = link_to 'Delete record', user_path, :method => :delete, :class => "btn btn-danger"



