- model_class = User
.container
  %br
  %br
  .row
    .col-md-4
      = image_tag @user.image.url(:medium)
    .col-md-8
      %p
        %strong= model_class.human_attribute_name(:name) + ':'
        = @user.name
      %p
        %strong= 'Location' + ':'
        = @user.city.to_s + ', ' + @user.state.to_s
      %p
        %strong= model_class.human_attribute_name(:profession) + ':'
        = @user.profession
  .row
    .col-md-12
      %p
        %strong= model_class.human_attribute_name(:description) + ':'
        %br
        = @user.description
        
  
.container
.tabbable{:style => "margin-bottom: 18px;"}>
  //%h2 More Information About Me
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#blogs"} Blogs
    %li
      %a{"data-toggle" => "tab", :href => "#albums"} Albums
  .tab-content
    #blogs.tab-pane.fade.in.active  
      %h3 BLOG POSTS
      %p These are my blog posts. Click on the Titles for the blog content!
      %table{ :class => "table table-striped"}
        %thead
          %tr
            %th= 'Title'
            %th= 'Date Posted'
            
        %tbody
          - @user.blogs.each do |blog|
            %tr
              %td= link_to blog.title, user_blog_path(blog.user_id, blog.id)
              %td= blog.created_at
              
      %br
      %br
    #albums.tab-pane.fade
      %h3 Albums
      %p These are my photos:
      %br
      %br
  
- if @user.user_auth == current_user_auth
  = link_to 'Edit record', edit_user_path, :method => :get, :class => "btn btn-default"
  //= link_to 'Delete record', user_path, :method => :delete, :class => "btn btn-danger"
  //= link_to 'Blog Posts', user_blogs_path(@user), :class => 'btn btn-primary'



