- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
= image_tag @user.image.url(:medium)
  
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @user.name
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @user.state
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @user.city
%p
  %strong= model_class.human_attribute_name(:profession) + ':'
  %br
  = @user.profession
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @user.description



