- model_class = User
.container
  %br
  %br
  .row
    .col-md-3
      = image_tag @user.image.url(:medium)
    .col-md-6.pull-left
      %h2
        = @user.name
      %p
        = @user.city.to_s + ', ' + @user.state.to_s
      %p
        = @user.profession
    .col-md-3
      - if @user.user_auth == current_user_auth
        = link_to 'Edit record', edit_user_path, :method => :get, :class => "btn btn-info btn-block"
  .row
    .col-md-12
      %p
        %br
        %br
        = @user.description
        
%br
%br
.container
.tabbable{:style => "margin-bottom: 18px;"}>
  //%h2 More Information About Me
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#blogs"} Blogs
    %li
      %a{"data-toggle" => "tab", :href => "#albums"} Albums
  .tab-content
    #blogs.tab-pane.fade.in.active  
      %h3 BLOG POSTS
      %p These are my blog posts. Click on the Titles for the blog content!
      - if current_user_auth == @user.user_auth && @user.blogs.length == 0
        =link_to 'Create New Blog', new_user_blog_path(@user), :class => 'btn btn-success'
      - else
        %table{ :class => "table table-striped"}
          %thead
            %tr
              %th= 'Title'
              %th= 'Date Posted'
              
          %tbody
            - @user.blogs.each do |blog|
              %tr
                %td= link_to blog.title, user_blog_path(blog.user_id, blog.id)
                %td= blog.created_at
              
      %br
      %br
    #albums.tab-pane.fade
      %h3 Albums
      %p These are my photos:
      %br
      %br
  



